# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
*/target/
**/gen/schemas

# Profile
.rspack-profile-*/

# IDE
.vscode
!.vscode/extensions.json
.idea

# Android
src-tauri/gen
src-tauri/target
