# Local
.DS_Store
*.local
*.log*
docs/*.jks*
docs/*.properties
docs/*.kts
# Dist
node_modules
dist/
*/target/
**/gen/schemas

# Profile
.rspack-profile-*/

# IDE
.vscode
!.vscode/extensions.json
.idea

# Android
**/gen/*
